.numPlayer-view{
    -fx-background-image: url(/images/background_controls.jpg);
    -fx-background-size:cover;
    -fx-hgap: 100;
}

.numPlayer-view .label{
    -fx-text-fill: white;
    -fx-font-size: 12pt;
}

.numPlayer-view .text-field{
    -fx-border-width: 0;
}

.label {
	-fx-padding: 5.0px;
    -fx-min-width: 200.0;
    -fx-max-width: 2000.0;
  	-fx-alignment: center;
}

.main-menu{
    -fx-background-image: url(/images/background_controls.jpg);
    -fx-background-size:cover;
    -fx-text-fill: white;
    -fx-font-size: 12pt;
    -fx-opacity: 1.0;
    -fx-cell-size: 30px;
}

#menu-edit .label{
    -fx-opacity: 1.0;
    -fx-text-fill: white;
    -fx-border-width: 0;
    -fx-background-image: url(/images/background_controls.jpg);

}

#controlArea {
    -fx-spacing: 15.0px;
    -fx-padding: 5.0px;
    -fx-border-color: black;
    -fx-border-width: 2.0px;
    -fx-background-image: url(/images/background_controls.jpg);
    -fx-background-size:cover;
    -fx-alignment: center;
}

#controlArea .button{
    -fx-background-color:
            linear-gradient(#ffd65b, #e68400),
            linear-gradient(#ffef84, #f2ba44),
            linear-gradient(#ffea6a, #efaa22),
            linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;


}



/* no hover in menu*/
#menu-edit:hover,
#menu-edit:showing,
#menu-edit .menu-item:focused {
    -fx-background-color: lightblue;
    -fx-background-size: cover;

}
.context-menu {
    -fx-spacing: 15.0px;
    -fx-padding: 5.0px;
    -fx-border-color: black;
    -fx-border-width: 2.0px;
    -fx-background-image: url(/images/background_controls.jpg);
    -fx-background-size:cover;
}

#all-players {
    -fx-background-image: url(/images/background_cards.jpg);
    -fx-background-size: cover;
}
.player {
	-fx-padding: 75;
    -fx-border-color: green;
    -fx-border-width: 0.1px;
}



.lbl-player{
    -fx-font-size: 12pt;
    -fx-text-fill: white;
}

.lbl-evaluation{
    -fx-font-size: 12pt;
    -fx-text-fill: gold;
    -fx-padding: 100%;
}

.hbox-cards{
    -fx-spacing: 10;
}

.card {
  -fx-font-size: 18px;
	-fx-padding: 1.0px;
    -fx-border-color: black;
    -fx-border-width: 1.0px;
	-fx-background-color: white;
    -fx-min-width: 50;
    -fx-pref-width: 111;
    -fx-max-width: 500;
    -fx-min-height: 80;
    -fx-pref-height: 162;
    -fx-max-height: 800;
}

.deck{
    -fx-text-fill: white;
    -fx-font-size: 12pt;
}